* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
